<table class="table table-striped table-bordered table-hover ">
  <thead>
  <tr>
    <th>Название теста</th>
    <th > </th>
  </tr>
  </thead>

  <tbody>
  <% @online_tests.each do |online_test| %>
      <tr>
        <td><%= online_test.title %></td>
        <td><%= link_to 'Пройти', online_test %></td>

      </tr>
  <% end %>
  </tbody>
</table>